/* nav bar */
.topnav {
  position: relative;
  background-color: #000000;
  overflow: hidden;
  text-align: center;
}

.topnav a {
  float: left;
  color: #ffffff;
  text-align: center;
  font-family: 'Open Sans', sans-serif;
  padding: 15px 1px;
  text-decoration: none;
  font-size: 17px;
  width:150px;
  transition-duration: 0.3s;
}

.topnav a:hover {
  border-bottom-style: solid;
  border-bottom-color: #5865F2;
}

.navbutton{
  text-align: center;
}


/* end of nav bar */

body{
  font-family: 'Open Sans', sans-serif;
  background-color: #2C2F33;
  margin: auto;
}

.grid-container {
  display: grid;
  grid-template-columns: auto auto auto auto;
  grid-gap: 5px;
  background-color: inherit;
  width: 100%;
  overflow-x: hidden;
}

.grid-container > div {
  text-align: center;
  padding: 20px 0;
  font-size: 15px;
}

a{
  color: #5865F2;
  text-decoration: none;
}

a:hover{
  color: #ffffff;
}

h1{
  color: #ffffff;
}

h2{
  color:#ffffff;
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
}

.footer{
  position: fixed;
  bottom: 0%;
  width:100%;
  height:100px;
  overflow: hidden;
  float:bottom;
}
