<!DOCTYPE html>
<div class="topnav"> <!-- nav bar-->
  <a class="navbutton" href="/games">Games</a>
  <a class="navbutton" href="/developers">Developers</a>
  <a class="navbutton" href="/">Home</a>
  <a class="navbutton" href="/about">About</a>
    <div class="dropdown" style="float:right;">
    <button class="dropbtn"><img src="static/images/user_icon.png" alt="Login Stuff" height="50px"></button>
      <div class="dropdown-content">
      {% if not current_user.is_authenticated %}
      <a href="/login">Login</a>
      <a href="/register">Register</a>
      {% endif %}
      {% if current_user.is_authenticated %}
      <a href="/logout">Logout</a>
      {% endif %}
    </div>
  </div>
</div>
